# Dayton-copyrighted artifacts — see notes/SOURCES.md for upstream URLs
# Mirrored privately on local Gitea for reproducibility; not redistributed
# from this public branch.
downloads/
firmware_patch/*.bin

# Misc
__pycache__/
*.pyc
.DS_Store
